<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/jobs1.css" %}">
  </head>
  <body>
    <h1>{{head_msg}}</h1>
    <ul>
      <li>{{m1}}</li>
      <li>{{m2}}</li>
      <li>{{m3}}</li>
      <li>{{m4}}</li>
      <li>{{m5}}</li>
    </ul>
    {% if type == 'movies' %}
    <img src="{% static "images/movie.jpg" %}" alt="">
    {% elif type == 'politics' %}
    <img src="{% static "images/politics.jpg" %}" alt="">
    {% elif type == 'sports' %}
    <img src="{% static "images/sports.jpg" %}" alt="">
    {% endif %}
  </body>
</html>
