.container .jumbotron{
  margin-top: 50px;
}
body{
  background: url(https://images.unsplash.com/photo-1592743263126-bb241ee76ac7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJhbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
